<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>halcyon - a free web template</title>
<link rel="stylesheet" type="text/css" href="styles.css" />
</head>
<body>
<div id="wrapper">

	<div id="top" class="clear">
		<h1><a href="#">halcyon</a></h1>
		
		<ul>
			<li><a href="index.html">home</a></li>
			<li class="selected"><a href="examples.html">examples</a></li>
			<li><a href="#">products</a></li>
			<li><a href="#">support</a></li>
			<li><a href="#">contact</a></li>
		</ul>
	</div>

	
	<div id="body" class="clear">
		<div id="sidebar" class="column-right">
			<ul>	
				<li>
					<h4>Links</h4>
	
					<ul>
						<li><a href="http://www.spyka.net" title="spyka Webmaster resources">spyka webmaster</a></li>
	
						<li><a href="http://www.justfreetemplates.com" title="free web templates">Free web templates</a></li>
						<li><a href="http://www.spyka.net/forums" title="webmaster forums">Webmaster forums</a></li>
						<li><a href="http://www.awesomestyles.com/mybb-themes" title="mybb themes">MyBB themes</a></li>
						<li><a href="http://www.awesomestyles.com" title="free phpbb3 themes">phpBB3 styles</a></li>
	
	
					</ul>
				</li>
				
				<li>
	
					<h4>Categories</h4>
					<ul>
					  <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
					  <li><a href="#">Quisque consequat nunc a felis.</a></li>
	
					  <li><a href="#">Suspendisse consequat magna at.</a></li>
					  <li><a href="#">Etiam eget diam id ligula rhoncus.</a></li>
	
					  <li><a href="#">Sed in mauris non nibh.</a></li>
					</ul>
				</li>
				<li>
					<h4>Sponsors</h4>
	
					<ul>
	
						<li><a href="http://www.themeforest.net/?ref=spykawg" title="premium templates">ThemeForest</a> - premium HTML templates, WordPress themes and PHP scripts</li>
	
						<li><a href="http://www.dreamhost.com/r.cgi?259541" title="web hosting">Web hosting</a> - 50 dollars off when you use promocode <strong>awesome50</strong></li>
						<li><a href="http://www.4templates.com/?aff=spykawg" title="4templates">4templates</a> - brilliant premium templates</li>
	
					</ul>
				</li>
	
			</ul>
		</div>
		<div id="content" class="column-left">
			<!-- CONTENT -->
			<h2>Examples</h2>

			<h1>Heading H1</h1>
			<h2>Heading H2</h2>
			<h3>Heading H3</h3>
			<h4>Heading H4</h4>
			<h5>Heading H5</h5>
			<p>&nbsp;</p>

			
			<h3>Lists</h3>

			<ul>
				<li>List item</li>
				<li>List item</li>
				<li>List item</li>
			</ul>
					
			<ol>
				<li>List item</li>
				<li>List item</li>
				<li>List item</li>
			</ol>
			<p>&nbsp;</p>
			
				
			<h3>Code and blockquote</h3>
			<code>&lt;? echo('Hello world'); ?&gt;</code>

			<blockquote><p>Mauris sit amet tortor in urna tincidunt aliquam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas</p></blockquote>
			<p>&nbsp;</p>
			
			
			
			<h3>Table</h3>
			<table>
				<tr>
					<th>ID</th>

					<th>Name</th>


					<th>Age</th>
				</tr>
				<tr>

					<td>1</td>
					<td>John Smith</td>

					<td>28</td>


				</tr>

				<tr>
					<td>2</td>
					<td>Fred James</td>

					<td>49</td>

				</tr>
				<tr>


					<td>3</td>

					<td>Rachel Johnson</td>
					<td>19</td>
				</tr>

			</table>
			<p>&nbsp;</p>
			
			<h3>Form</h3>

			<fieldset>

				<legend>Form legend</legend>
				<form action="#" method="get">
					<p><label for="name">Name:</label>

					<input type="text" name="name" id="name" value="" /><br /></p>

	
					<p><label for="email">Email:</label>
	
					<input type="text" name="email" id="email" value="" /><br /></p>

					<p><label for="message">Message:</label>

	
					<textarea cols="60" rows="11" name="message" id="message"></textarea><br /></p>
					<p><input type="submit" name="send" class="formbutton" value="Send" /></p>
				</form>

			</fieldset>

			<p>&nbsp;</p>		
		</div>
	</div>
	
	<div id="footer" class="clear">
		<div class="footer-box">
			<h4>About our site</h4>
			<p>
				Morbi fermentum, nunc id pellentesque blandit, lectus velit pellentesque nisl, a condimentum est velit sed nisi. Sed libero velit, eleifend nec porttitor a, porta quis leo. In hac habitasse platea dictumst. 
			</p>
		</div>
		
		<div class="footer-box">
			<h4>Categories</h4>
			<ul>
			  <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
			  <li><a href="#">Quisque consequat nunc a felis.</a></li>
			  <li><a href="#">Suspendisse consequat magna at.</a></li>
			  <li><a href="#">Etiam eget diam id ligula rhoncus.</a></li>
			  <li><a href="#">Sed in mauris non nibh.</a></li>
			</ul>
		</div>
		
		<div class="footer-box">
			<h4>Network sites</h4>
			<ul>
				<li><a href="http://www.spyka.net" title="spyka Webmaster resources">spyka webmaster</a></li>
				<li><a href="http://www.justfreetemplates.com" title="free web templates">Free web templates</a></li>
				<li><a href="http://www.spyka.net/forums" title="webmaster forums">Webmaster forums</a></li>
				<li><a href="http://www.awesomestyles.com/mybb-themes" title="mybb themes">MyBB themes</a></li>
				<li><a href="http://www.awesomestyles.com" title="free phpbb3 themes">phpBB3 styles</a></li>
			</ul>	
		</div>
		
		<div class="footer-box end-footer-box">
			<h4>Search our site</h4>
			<form action="#" method="get">
				<p>
					<input type="text" id="searchquery" size="18" name="searchterm" />
					<input type="submit" id="searchbutton" value="Search" class="formbutton" />
				</p>
			</form>
		</div>
	</div>
	
	<div id="footer-links">
		<p>
			&copy; 2009 sitename. Design by <a href="http://www.spyka.net">Free CSS Templates</a> and <a href="http://www.justfreetemplates.com">Free Web Templates</a>
		</p>
	</div>
</div>
</body>
</html>
